[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/NervosFoundation/secp256k1
[submodule "deps/flatcc"]
	path = deps/flatcc
	url = https://github.com/dvidelabs/flatcc
[submodule "deps/ckb-riscv"]
	path = deps/ckb-riscv
	url = git@github.com:NervosFoundation/ckb-riscv.git
